.Contact a {
  text-decoration: underline;
}

.Contact > div:first-of-type {
  margin-top: 3rem;
}
.Contact > div {
  border-radius: 0;
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
}
.Contact > div > p {
  font-size: 1rem;
}

.map {
  background: radial-gradient(var(--dark-gray-1), var(--light-gray-1));
  border-radius: 0.25rem;
  display: grid;
  font-size: 2rem;
  font-weight: bold;
  height: 20rem;
  margin: 1rem auto;
  max-width: 500px;
  place-items: center;
}

@media only screen and (min-width: 480px) {
  .Contact > div > p {
    font-size: 1.5rem;
  }
}
