.Contact a {
  text-decoration: underline;
}

.Contact article p {
  font-size: 1rem;
  margin: 0;
}

.MapPin {
  margin: 1rem auto;
  width: 3rem;
}

.SocialIcon {
  margin: auto;
  width: 4rem;
}

.socials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials_info {
  padding: 1.5rem;
}

.socials_info > a {
  text-decoration: none;
}

.socials_info {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, white, transparent);
  border-image-slice: 1;
}
.socials_info:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 480px) {
  .Contact > div > p {
    font-size: 1.5rem;
  }
  .Contact article p {
    font-size: 1.5rem;
    margin: 0;
  }

  .socials__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .socials_info {
    padding: 2rem;
  }
  .socials_info {
    border-right: 1px solid transparent;
    border-image: linear-gradient(0deg, transparent, white, transparent);
    border-image-slice: 1;
  }
  .socials_info:last-child {
    border-right: none;
  }
}
