.PageTitle {
  background: linear-gradient(90deg, transparent, black, black, transparent);
  margin: 1rem auto 2rem auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.PageTitle::before,
.PageTitle::after {
  background: linear-gradient(90deg, transparent, white, transparent);
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.PageTitle h1 {
  color: var(--accent-color);
  font-family: "Alchemist Solid Caps";
  font-size: clamp(1rem, 10vw, 3rem);
  letter-spacing: 0.25rem;
  line-height: 1.25;
  padding: 0.75rem;
}
