.Header {
  align-items: center;
  background: black;
  box-shadow: 0 5px 20px black;
  border-bottom: 1px solid white;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

.logo {
  margin-left: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.logo:hover {
  filter: invert(100%);
}

.logo,
.logo > a {
  display: flex;
}
