.About {
  width: 100%;
}

.info__section {
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.05), transparent),
    radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.1), transparent);
  padding: 2rem 0;
}

.info__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1400px;
}

.image__container {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.image__wrapper {
  background: radial-gradient(var(--light-gray-1), var(--dark-gray-2)) padding-box,
    linear-gradient(0deg, var(--light-gray-1), white) border-box;
  border: 1px solid transparent;
  border-radius: 100%;
  box-shadow: 0 4px 15px black;
  height: min(100vw / 1.25, 20rem);
  overflow: hidden;
  position: relative;
  width: min(100vw / 1.25, 20rem);
}

.info__section article {
  padding: 0 1rem;
  text-align: center;
}

.info__section article p {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

@media only screen and (min-width: 768px) {
  .info__container {
    flex-direction: row;
  }

  .image__container {
    margin: 0 2rem;
  }

  .image__wrapper {
    height: 20rem;
    width: 20rem;
  }

  .info__section article {
    flex: 2;
  }
}

@media only screen and (min-width: 1366px) {
  .info__section {
    padding: 0;
  }

  .image__container {
    margin: 2rem;
  }

  .image__wrapper {
    height: min(100vw / 2, 25rem);
    width: min(100vw / 2, 25rem);
  }
}
