.Custom404 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.Custom404 h1 {
  -webkit-text-stroke: 2px white;
  color: black;
  font-size: 5rem;
  line-height: 0.85;
}

.Custom404 h2 {
  color: white;
  font-family: "Alchemist Solid";
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.Custom404 h1,
.Custom404 h2 {
  filter: drop-shadow(3px 3px 0 black);
}

.Custom404 svg {
  fill: rgba(255, 0, 0, 0.1);
  max-height: 300px;
  position: absolute;
  z-index: -1;
}

.container {
  max-width: 500px;
  padding: 1rem;
}

.bar {
  background: linear-gradient(90deg, transparent, var(--light-gray-2), transparent);
  box-shadow: 0 1px 4px black;
  height: 1px;
  margin: 1rem 0;
  width: 100%;
}
