.AftercareInfo {
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.05), transparent),
    radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.15), transparent);
  box-shadow: 0 10px 20px black;
  border-radius: 0.5rem;
  margin: 1rem 1rem 0.75rem 1rem;
  padding: 1rem;
  width: 95%;
}

.info_list > ul {
  list-style: none;
  text-align: center;
}

.info_list > ul > li {
  border-bottom: 1px solid var(--light-gray-1);
  padding: 1rem;
}

.info_list > ul > li:first-child {
  padding: 0rem 1rem 1rem 1rem;
}

.info_list > ul > li:last-child {
  border: none;
  padding: 1rem 0 1rem 1rem;
}

@media only screen and (min-width: 768px) {
  .AftercareInfo {
    width: 750px;
  }
}
