.AftercareInfo {
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.05), transparent),
    radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.15), transparent);
  box-shadow: 0 10px 20px black;
  border-radius: 0.5rem;
  margin: 1rem 1rem 0.75rem 1rem;
  padding: 1rem;
  width: 95%;
}

.title {
  align-items: center;
  background: linear-gradient(90deg, black, var(--dark-gray-2), black);
  border: 1px solid var(--light-gray-1);
  border-radius: 3rem;
  box-shadow: 0 0 20px black;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
}

.bar_left,
.bar_right {
  height: 1px;
  width: 100%;
}

.bar_left {
  background: linear-gradient(90deg, transparent, var(--light-gray-1));
  margin-right: 0.5rem;
}
.bar_right {
  background: linear-gradient(90deg, var(--light-gray-1), transparent);
  margin-left: 0.5rem;
}

.info_list > ul {
  list-style: none;
  text-align: center;
}

.info_list > ul > li {
  border-bottom: 1px solid var(--light-gray-1);
  padding: 1rem;
}

.info_list > ul > li:last-child {
  border: none;
  padding: 1rem 0 0 1rem;
}

@media only screen and (min-width: 768px) {
  .AftercareInfo {
    width: 750px;
  }

  .AftercareInfo h2 {
    font-size: 2rem;
  }
}
