.HomeBanner {
  background: black;
  height: 30rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.HomeBanner img {
  object-fit: cover;
  opacity: 0.25;
  z-index: 0;
}

.container {
  align-items: center;
  background: linear-gradient(90deg, transparent, black, transparent);
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    var(--dark-gray-2),
    var(--light-gray-1),
    var(--light-gray-2),
    var(--light-gray-1),
    var(--dark-gray-2)
  );
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo__container {
  height: 100%;
  position: relative;
  width: 100%;
}

.logo__container > svg {
  height: 100%;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bar {
  background: linear-gradient(
    90deg,
    var(--dark-gray-2),
    var(--light-gray-1),
    var(--light-gray-2),
    var(--light-gray-1),
    var(--dark-gray-2)
  );
  height: 1px;
  width: 100%;
}

.text__container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.text__container p {
  color: var(--accent-color);
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .HomeBanner {
    height: 25rem;
  }

  .container {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, var(--dark-gray-2), var(--light-gray-1), var(--dark-gray-2));
    border-image-slice: 1;
    flex-direction: row;
  }

  .logo__container,
  .text__container {
    flex-grow: 1;
  }

  .bar {
    background: linear-gradient(180deg, var(--dark-gray-2), var(--light-gray-1), var(--light-gray-2), var(--light-gray-1));
    width: 2px;
    height: 100%;
  }

  .text__container {
    box-shadow: none;
    font-size: 1.5rem;
    height: 100%;
  }
}
