.MenuList__active,
.MenuList {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  text-align: center;
  top: 4rem;
  transition: all 0.25s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.MenuList__active {
  border-bottom: 1px solid white;
  box-shadow: 0 10px 20px black;
  max-height: 1000px;
  visibility: visible;
  width: 100%;
}

.MenuList {
  border-bottom: 1px solid white;
  max-height: 0px;
  visibility: hidden;
}

.MenuList__active a,
.MenuList a {
  color: white;
  position: relative;
  text-decoration: none;
}

.MenuList a:hover,
.MenuList__active a:hover,
.active_page {
  color: var(--menu-list-link__active);
}

.MenuList__active a {
  opacity: 1;
  transition: all 0.25s ease-in-out;
  visibility: visible;
}

.MenuList a {
  opacity: 0;
  transition: all 0.15s ease-in-out;
  visibility: hidden;
}

.MenuList__active li,
.MenuList li {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 10%,
    var(--dark-gray-2) 50%,
    transparent 90%,
    transparent 100%
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border-image: linear-gradient(90deg, black 0%, black 25%, white 50%, black 75%, black 100%) 75;
  border-bottom: 1px solid transparent;
  list-style: none;
  padding: 0.5rem 0;
  transition: background-size 0.25s ease-in-out;
}

.MenuList__active li:hover {
  background-size: 100% 100%;
}

.underlay__active,
.underlay {
  margin-top: 5rem;
  position: absolute;
  top: 0;
}

.underlay {
  max-height: 0vh;
}

.underlay__active {
  backdrop-filter: blur(0.25rem);
  background: rgba(40, 40, 40, 0.5);
  height: 100vh;
  transition: all 0.15s ease-in-out;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .MenuList__active li:hover {
    background-size: 75% 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .MenuList,
  .MenuList a {
    visibility: visible;
  }

  .MenuList {
    border-bottom: none;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-evenly;
    max-height: 1000px;
    position: relative;
    top: 0;
    width: auto;
  }

  .MenuList a {
    padding: 0 1.75rem;
    opacity: 1;
  }

  .MenuList a:last-child {
    padding-left: 1.75rem;
  }

  .MenuList a:not(:last-child)::after {
    background: linear-gradient(0deg, transparent, var(--light-gray-1), transparent);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0%;
    width: 1px;
  }

  .MenuList .active_page {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, transparent, var(--menu-list-link__active), transparent);
    border-image-slice: 1;
    padding: 0.5rem 0 0.25rem 0;
  }
}
