.Nav {
  cursor: pointer;
  height: 50%;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 3.5rem;
}

.Nav .hamburger_button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;
}

.Nav span {
  background: white;
  border-radius: 2rem;
  display: block;
  height: 0.25rem;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  width: 100%;
}

.Nav span:nth-child(1) {
  top: 0;
}

.Nav span:nth-child(2),
.Nav span:nth-child(3) {
  top: 50%;
}

.Nav span:nth-child(4) {
  top: 100%;
}

.open span:nth-child(1),
.open span:nth-child(2),
.open span:nth-child(3),
.open span:nth-child(4) {
  background: red;
  box-shadow: 0 0 15px red;
}

.open span:nth-child(1) {
  left: 50%;
  top: 50%;
  width: 0%;
}

.open span:nth-child(2) {
  transform: rotate(45deg);
}

.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.open span:nth-child(4) {
  left: 50%;
  top: 50%;
  width: 0%;
}

@media only screen and (min-width: 1024px) {
  .Nav {
    display: none;
  }
}
