.PageTitle {
  background: linear-gradient(90deg, transparent, black, black, transparent);
  margin: 1rem auto 2rem auto;
  text-align: center;
  width: 100%;
}

.bar {
  height: 1px;
  background: linear-gradient(90deg, transparent, white, transparent);
  width: 100%;
}
